<!head>
<div class="md-padding" layout="row" layout-sm="column" flex>
    <div flex>
        <md-button class="menu" ng-click="toggleLeft()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
    </div>
    <div flex: 100%>
        <md-input-container>
            <md-select placeholder="Language/שפה" ng-model="Languages.selectedOption">
                <md-option ng-value="Language" ng-repeat="Language in Languages.availableOptions">
                    {{Language}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
</br></br></br></br>
<div flex="50"><center>All right reserved to Nathan Yaacov Prod@</center></div>

<div flex="50"><center>
    <video width="320" height="240" controls>
        <source src="videos/AirForceIsraelyArchive.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    </center>
</div>

<div class="container" layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo md-padding">
            <center><h1 class="md-toolbar-tools">{{dictionary.Dictionary[0].Menu}}</h1></center>
        </md-toolbar>

        <md-content layout-margin="" align="center">
            <md-button class="account_circle" ng-click="goToUserInformation()">
                <md-icon md-svg-icon="account_circle" align="center"></md-icon>
                <div>{{userName}} {{dictionary.Dictionary[0].Information}}</div>
            </md-button>
            </br>
            <md-button class="house" ng-click="goToHouse()">
                <md-icon md-svg-icon="home"></md-icon>
                <div>{{dictionary.Dictionary[0].House}}</div>
            </md-button>
            </br>
            <md-button class="houses" ng-click="goToHouses()">
                <md-icon md-svg-icon="home"></md-icon>
                <div> {{dictionary.Dictionary[0].ManageHouses}}</div>
            </md-button>
            </br>
            <md-button ng-show="isManager()" class="NewHouse" ng-click="goToNewHouse()">
                <md-icon md-svg-icon="home"></md-icon>
                <div>{{dictionary.Dictionary[0].NewHouse}}</div>
            </md-button>
            </br>
            <md-button class="copyright" ng-click="goToCopyright()">
                <md-icon md-svg-icon="copyright"></md-icon>
                <div>{{dictionary.Dictionary[0].Copyright}}</div>
            </md-button>
            </br>
        </md-content>

    </md-sidenav>
</div>