<div flex="66">
    <table class="rwd-table">
        <h1>{{dictionary.Dictionary[0].HousesList}}</h1>
        <tr>
            <th>{{dictionary.Dictionary[0].HouseId}}</th>
            <th>{{dictionary.Dictionary[0].State}}</th>
            <th>{{dictionary.Dictionary[0].City}}</th>
            <th>{{dictionary.Dictionary[0].Street}}</th>
            <th>{{dictionary.Dictionary[0].HouseNumber}}</th>
            <th>{{dictionary.Dictionary[0].HouseKind}}</th>
            <th>{{dictionary.Dictionary[0].NumberOfRooms}}</th>
            <th>{{dictionary.Dictionary[0].NumberOfLivingRooms}}</th>
            <th>{{dictionary.Dictionary[0].NumberOfKitchens}}</th>
            <th>{{dictionary.Dictionary[0].NumberOfBedrooms}}</th>
            <th>{{dictionary.Dictionary[0].NumberOfBathrooms}}</th>
            <th>{{dictionary.Dictionary[0].LocationKind}}</th>
            <th>{{dictionary.Dictionary[0].Comments}}</th>

        </tr>
        <tr ng-repeat="x in houses">

            <td>{{ x.house_id}}</td>
            <td>{{ x.state}}</td>
            <td>{{ x.city}}</td>
            <td>{{ x.street}}</td>
            <td>{{ x.house_number}}</td>
            <td>{{ x.house_kind}}</td>
            <td>{{ x.number_of_rooms}}</td>
            <td>{{ x.number_of_living_rooms}}</td>
            <td>{{ x.number_of_kitchens}}</td>
            <td>{{ x.number_of_bedrooms}}</td>
            <td>{{ x.number_of_bathrooms}}</td>
            <td>{{ x.location_kind}}</td>
            <td>{{ x.comments}}</td>
        </tr>
    </table>
</div>
<div class="container" layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo md-padding">
            <center>
                <h1 class="md-toolbar-tools">{{dictionary.Dictionary[0].Menu}}</h1>
            </center>
        </md-toolbar>

        <md-content layout-margin="" align="center">
            <md-button class="account_circle" ng-click="goToUserInformation()">
                <md-icon md-svg-icon="account_circle" align="center"></md-icon>
                <div>{{userName}} {{dictionary.Dictionary[0].Information}}</div>
            </md-button>
            </br>
            <md-button class="house" ng-click="goToHouse()">
                <md-icon md-svg-icon="home"></md-icon>
                <div>{{dictionary.Dictionary[0].House}}</div>
            </md-button>
            </br>
            <md-button class="houses" ng-click="goToHouses()">
                <md-icon md-svg-icon="home"></md-icon>
                <div> {{dictionary.Dictionary[0].ManageHouses}}</div>
            </md-button>
            </br>
            <md-button ng-if="isManager()" class="NewHouse" ng-click="goToNewHouse()">
                <md-icon md-svg-icon="home"></md-icon>
                <div>{{dictionary.Dictionary[0].NewHouse}}</div>
            </md-button>
            </br>
            <md-button class="copyright" ng-click="goToCopyright()">
                <md-icon md-svg-icon="copyright"></md-icon>
                <div>{{dictionary.Dictionary[0].Copyright}}</div>
            </md-button>
            </br>
        </md-content>

    </md-sidenav>


</div>
