<!head>
<div class="md-padding" layout="row" layout-sm="column" flex>
    <div flex>
        <md-button class="menu" ng-click="toggleLeft()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
    </div> 
    <div flex: 100%>
        <md-input-container>
            <md-select placeholder="Language/שפה" ng-model="Languages.selectedOption">
                <md-option ng-value="Language" ng-repeat="Language in Languages.availableOptions">
                    {{Language}}
                </md-option>
            </md-select>
        </md-input-container>
        </div>
</div>
<!/head>
<div layout="column" layout-sm="column" flex>
    <div>
        <center><label class="myFont">{{dictionary.Dictionary[0].WellcomToYourAccount}} {{message}}</label></center>
    </div>
    </br>
    <div flex>
        <center>
            <form ng-submit="submitHouse()">
                <label class="myFont">{{dictionary.Dictionary[0].SelectaHouse}}</label>
                <md-input-container>
                    <md-select placeholder="Assign to House" ng-model="houses.selectedOption">
                        <md-option ng-value="house" ng-repeat="house in houses.availableOptions">
                            {{house.house_number}} {{house.street}} {{house.city}} {{house.state}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </form>
        </center>
    </div>
</div>
</br>
</br>

<div layout="row" layout-sm="column">
    <div flex="5"></div>
    <div flex>
        <table class="rwd-table">
            <h1>{{dictionary.Dictionary[0].HouseTable}}</h1>
            <tr>
                <td>{{dictionary.Dictionary[0].HouseId}}</td>
                <td>{{house_id}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].Address}}</td>
                <td>{{house_number}} {{street}} {{city}} {{state}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].HouseKind}}</td>
                <td>{{house_kind}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfRooms}}</td>
                <td>{{number_of_rooms}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfLivingRooms}}</td>
                <td>{{number_of_living_rooms}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfKitchens}}</td>
                <td>{{number_of_kitchens}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfBedrooms}}</td>
                <td>{{number_of_bedrooms}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfBathrooms}}</td>
                <td>{{number_of_batdrooms}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].LocationKind}}</td>
                <td>{{location_kind}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].Comments}}</td>
                <td>{{comments}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].PurchasePrice}}</td>
                <td>{{purchase_price}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].TreatmentFees}}</td>
                <td>{{treatment_fees}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].RenovationFeesForSale}}</td>
                <td>{{renovation_fees_for_sale}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].RenovationFeesForRenting}}</td>
                <td>{{renovation_fees_for_renting}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].DiversFees}}</td>
                <td>{{divers_fees}}</td>
            </tr>
        </table>
    </div>
    <div flex>
        <h3>{{dictionary.Dictionary[0].AreaOnTheMap}}</h3>
        <div id="map" style="height: 400px; width: 400px;"></div>
    </div>
</div>


<div class="md-padding" layout-xs="column" layout="row">
     <div layout="row" flex>
        <div class="parent" layout="column" ng-repeat="houseImages in housePathesImages.availableOptions" flex>
          <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
          <md-card-header-text>{{houseImages}}</md-card-header-text>
        <img lazy-load ll-src='http://127.0.0.1:9000/GET_SPECIFIC_FILE/{{houseImages}}' class="md-card-image" alt="Washed Out">

      </md-card>
    </div>
        </div>
     </div>
  </div>


<div class="container" layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo md-padding">
            <center><h1 class="md-toolbar-tools">{{dictionary.Dictionary[0].Menu}}</h1></center>
        </md-toolbar>

        <md-content layout-margin="" align="center">
            <md-button class="account_circle" ng-click="goToUserInformation()">
                <md-icon md-svg-icon="account_circle" align="center"></md-icon>
                <div>{{userName}} {{dictionary.Dictionary[0].Information}}</div>
            </md-button>
            </br>
            <md-button class="house" ng-click="goToHouse()">
                <md-icon md-svg-icon="home"></md-icon>
                <div>{{dictionary.Dictionary[0].House}}</div>
            </md-button>
            </br>
            <md-button class="houses" ng-click="goToHouses()">
                <md-icon md-svg-icon="home"></md-icon>
                <div> {{dictionary.Dictionary[0].ManageHouses}}</div>
            </md-button>
            </br>
            <md-button class="NewHouse" ng-click="goToNewHouse()">
                <md-icon md-svg-icon="home"></md-icon>
                <div>{{dictionary.Dictionary[0].NewHouse}}</div>
            </md-button>
            </br>
            <md-button class="copyright" ng-click="goToCopyright()">
                <md-icon md-svg-icon="copyright"></md-icon>
                <div>{{dictionary.Dictionary[0].Copyright}}</div>
            </md-button>
            </br>
        </md-content>

    </md-sidenav>
</div>
