</br>
</br>

<div layout="row" layout-sm="column">
    <div flex="5"></div>
    <div flex>
        <table class="rwd-table">
            <h1>{{dictionary.Dictionary[0].HouseTable}}</h1>
            <tr>
                <td>{{dictionary.Dictionary[0].Address}}</td>
                <td>{{house_number_1}} {{street_1}} {{city_1}} {{state_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].HouseKind}}</td>
                <td>{{house_kind_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfRooms}}</td>
                <td>{{number_of_rooms_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfLivingRooms}}</td>
                <td>{{number_of_living_rooms_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfKitchens}}</td>
                <td>{{number_of_kitchens_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfBedrooms}}</td>
                <td>{{number_of_bedrooms_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfBathrooms}}</td>
                <td>{{number_of_batdrooms_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].LocationKind}}</td>
                <td>{{location_kind_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].Comments}}</td>
                <td>{{comments_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].PurchasePrice}}</td>
                <td>{{purchase_price_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].TreatmentFees}}</td>
                <td>{{treatment_fees_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].RenovationFeesForSale}}</td>
                <td>{{renovation_fees_for_sale_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].RenovationFeesForRenting}}</td>
                <td>{{renovation_fees_for_renting_1}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].DiversFees}}</td>
                <td>{{divers_fees_1}}</td>
            </tr>
        </table>
    </div>
    <div flex>
        <h3>{{dictionary.Dictionary[0].AreaOnTheMap}}</h3>
        <div id="map1" style="height: 400px; width: 400px;"></div>
    </div>
</div>


<div flex layout="column" ng-if="houseWasLoaded" style="background-color: #DDDDDD;">
    <center><section flex style="background-color: #DDDDDD;">
        <md-content layout-padding="" style="background-color: #DDDDDD;">
            <h1>Haouse Images</h1>
            <div>{{houseImage}}</div>
            <img src='http://nathangager.from-ca.com/GET_SPECIFIC_FILE/{{houseImage}}'>
        </md-content>
    </section>
        <section layout="row" layout-padding="" style="background-color: #DDDDDD;">
            <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
        </section>
    </center>

</div>
///////
</br>
</br>

<div layout="row" layout-sm="column">
    <div flex="5"></div>
    <div flex>
        <table class="rwd-table">
            <h1>{{dictionary.Dictionary[0].HouseTable}}</h1>
            <tr>
                <td>{{dictionary.Dictionary[0].Address}}</td>
                <td>{{house_number_2}} {{street_2}} {{city_2}} {{state_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].HouseKind}}</td>
                <td>{{house_kind_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfRooms}}</td>
                <td>{{number_of_rooms_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfLivingRooms}}</td>
                <td>{{number_of_living_rooms_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfKitchens}}</td>
                <td>{{number_of_kitchens_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfBedrooms}}</td>
                <td>{{number_of_bedrooms_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].NumberOfBathrooms}}</td>
                <td>{{number_of_batdrooms_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].LocationKind}}</td>
                <td>{{location_kind_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].Comments}}</td>
                <td>{{comments_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].PurchasePrice}}</td>
                <td>{{purchase_price_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].TreatmentFees}}</td>
                <td>{{treatment_fees_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].RenovationFeesForSale}}</td>
                <td>{{renovation_fees_for_sale_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].RenovationFeesForRenting}}</td>
                <td>{{renovation_fees_for_renting_2}}</td>
            </tr>
            <tr>
                <td>{{dictionary.Dictionary[0].DiversFees}}</td>
                <td>{{divers_fees_2}}</td>
            </tr>
        </table>
    </div>
    <div flex>
        <h3>{{dictionary.Dictionary[0].AreaOnTheMap}}</h3>
        <div id="map2" style="height: 400px; width: 400px;"></div>
    </div>
</div>


<div flex layout="column" ng-if="houseWasLoaded" style="background-color: #DDDDDD;">
    <center><section flex style="background-color: #DDDDDD;">
        <md-content layout-padding="" style="background-color: #DDDDDD;">
            <h1>Haouse Images</h1>
            <div>{{houseImage}}</div>
            <img src='http://nathangager.from-ca.com/GET_SPECIFIC_FILE/{{houseImage}}'>
        </md-content>
    </section>
        <section layout="row" layout-padding="" style="background-color: #DDDDDD;">
            <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
        </section>
    </center>

</div>